body {
background-color: #00802b;
color: #66ff66;
font-family: "papyrus";
}
ul {
    background-color: #00802b;
}

<style>
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #00802b;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


<div class="dropdown">
  <span>Home</span>
  <div class="dropdown-content">
    <p>Hello World!</p>
  </div>
</div>
</style>

/*this is a css comment*/

body {
  font: 24px Helvetica;
  background: #999999;
}

#main {
  min-height: 800px;
  margin: 0px;
  padding: 0px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
}

#main > article {
  margin: 4px;
  padding: 5px;
  border: 1px solid #cccc33;
  border-radius: 7pt;
  background: #dddd88;
  -webkit-flex: 3 1 60%;
  flex: 3 1 60%;
  -webkit-order: 2;
  order: 2;
}

#main > nav {
  margin: 4px;
  padding: 5px;
  border: 1px solid #8888bb;
  border-radius: 7pt;
  background: #ccccff;
  -webkit-flex: 1 6 20%;
  flex: 1 6 20%;
  -webkit-order: 1;
  order: 1;
}

#main > aside {
  margin: 4px;
  padding: 5px;
  border: 1px solid #8888bb;
  border-radius: 7pt;
  background: #ccccff;
  -webkit-flex: 1 6 20%;
  flex: 1 6 20%;
  -webkit-order: 3;
  order: 3;
}

header,
footer {
  display: block;
  margin: 4px;
  padding: 5px;
  min-height: 100px;
  border: 1px solid #eebb55;
  border-radius: 7pt;
  background: #ffeebb;
}


/* Too narrow to support three columns */

@media all and (max-width: 640px) {
  #main,
  #page {
    -webkit-flex-flow: column;
    flex-flow: column;
  }
  #main > article,
  #main > nav,
  #main > aside {
    /* Return them to document order */
    -webkit-order: 0;
    order: 0;
  }
  #main > nav,
  #main > aside,
  header,
  footer {
    min-height: 50px;
    max-height: 50px;
  }
}